.chat-app {
  display: flex;
  min-height: calc(100vh - 70px);
}

.sidebar-toggle {
  display: none;
  background: linear-gradient(to right, #9dc6fb 0%, #ffe07d 100%);
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
}

.menu-icon span {
  width: 24px;
  height: 3px;
  background-color: #fff;
}

.chat-profile-image-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ffdf7c;
  margin-right: 4px;
}

.chat-profile-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}

.user-list {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-right-radius: 30px;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.user {
  padding: 16px;
  border-bottom: 1px solid #383d4b;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.user:last-child {
  border-bottom: none;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Add the following styles for the responsive sidebar toggle and circular user images */
.sidebar-toggle {
  display: none;
}
.user:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-chat {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  position: relative;
  background: linear-gradient(
    to right,
    rgba(255, 224, 125, 0.5) 0%,
    rgb(157, 198, 251, 0.5) 100%
  );
  backdrop-filter: blur(44px);
}

.chat-messages {
  flex: 1;
  flex-wrap: wrap;
  padding: 20px;
  overflow-y: auto;
  margin-top: 10px;
}

.message {
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: #424242;
  word-wrap: break-word;
  color: rgb(59, 53, 53);
  position: relative;
}

.msg-time-stamp {
  position: absolute;
  left: 0%;
  background: transparent;
  font-size: 10px;
  top: -16px;
  opacity: 0.4;
  font-weight: 500;
  color: orangered;
}

.incoming {
  background-color: #9dc6fb;
  color: #26457d;
  text-align: left;
  margin-right: 30%;
}

.outgoing {
  background-color: #ffe07d;
  color: #816c6c;
  text-align: left;
  margin-left: 30%;
}

.chat-input {
  padding: 10px;
  /* display: flex; */
  align-items: center;
  border-top: 1px solid #eaa750;
  position: sticky;
  bottom: 0;
  display: inline-block;
  width: 100%;
}

.chat-input input {
  /* flex: 1; */
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #2f3441;
  color: #fff;
  width: 60%;
}

.chat-input button {
  /* flex: 1; */
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background 0.2s ease;
}

.chat-input button:hover {
  background-color: #3367d6;
}

@media screen and (max-width: 768px) {
  .chat-app {
    flex-direction: column;
  }

  .sidebar-toggle {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 3;
  }

  .selected-image-wrapper {
    display: flex;
    align-items: center;
  }

  .selected-profile-name {
    text-align: left;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    cursor: pointer;
  }

  .user-list {
    flex: 1;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    border-radius: 30px;
  }

  .user-list.active {
    max-height: 50vh;
    overflow-y: auto;
  }
}
